<html lang="en">
<head>
    <!-- Ostali meta tagovi i stilovi -->
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href=""><img src="/assets/zdravlje.jpg" alt="Pocetna"></a></li>
          <li><a href="pacijent">Profil</a></li>
          <li><a href="sviLekari">Lekari</a></li>
          <li><a href="preglediPacijenta">Pregledi</a></li>
          <li><a href="obavestenja">Obavestenja</a></li>
          <li><a href="promenaLozinke">Promena lozinke</a></li>
          <li><button (click)="logout()">Odjavi se</button></li>
        </ul>
    </nav>
    </header>
    <main>
        <div class="row">
          <div class="col">
        <h2>Pregledi</h2>
        <div class="table-responsive">
        <table class="table">
          <tr>
            <th>  Naziv  </th>
            <th>Datum pregleda</th>
            <th>Vreme pregleda</th>
            <th>Ogranak</th>
            <th>Lekar</th>
          </tr>
          <tr *ngFor='let p of sortirajPregledePoDatumu(ulogovan?.zakazaniPregledi)' [hidden]="uProslosti(p)">
            <td>{{p.naziv}}</td>
            <td>{{ (p.datum.toString()).slice(0, 10) }}</td>
            <td>{{p.vreme}}</td>
            <td>{{p.ogranak}}</td>
            <td>{{p.lekar}}</td>
            <td><button (click)="otkaziPregled(p)">Otkazi</button></td>
          </tr>
          </table>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Izvestaji</h2>
            <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Datum izdavanja</th>
                <th>Vreme izdavanja</th>
                <th> Lekar </th>
                <th> Specijalizacija </th>
                <th> Razlog dolaska </th>
                <th> Dijagnoza </th>
                <th> Terapija </th>
                <th> Datum kontrole </th>
              </tr>
              <tr *ngFor='let p of sortirajIzvestajePoDatumu(izvestaji)'>
                <td>{{p.datumVreme.getFullYear()}}-{{p.datumVreme.getMonth()+1}}-{{p.datumVreme.getDate()}}</td>
                <td>{{p.datumVreme.getHours()}}:{{p.datumVreme.getMinutes()}}</td>
                <td>{{p.imeLekara}}</td>
                <td>{{p.specijalizacija}}</td>
                <td>{{p.razlogDolaska}}</td>
                <td>{{p.dijagnoza}}</td>
                <td>{{p.terapija}}</td>
                <td>{{p.datumKontrole.getFullYear()}}-{{p.datumKontrole.getMonth()+1}}-{{p.datumKontrole.getDate()}}</td>
              </tr>
              </table>
            </div>
            </div>
        </div>
    </main>
    <footer>
      <p>&copy; 2023 Ordinacija Zdravlje</p>
    </footer>
</body>
</html>
